body {
    background-color: #f2f2f2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.Calculator{
background-color: #2ff;
border-radius: 15px;
padding: 20px;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
width: 300px;
}
#display-box{
    background-color: #000;
    color: #0f0;
    font-size: 2em;
    border: none;
    width: 100%;
    height: 80px;
    text-align: right;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#expression {
  font-size: 30px;
  color: #fff;
  text-align: left;
  font-weight: bold;
}

#result {
  font-size: 30px;
  font-weight: bold;
  text-align: right;
  }
.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
button{
    font-size: 1.2rem;
    padding: 15px;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}
button:active {
  transform: scale(0.95);
}
button:hover{
    background-color: #555;
}
.operator{
    background-color: #ff9500;
}
.operator:hover{
    background-color: #e08900;
}
.equal{
    background-color: #00cc66;
    grid-column: span 2;
}
.equal:hover{
    background-color: #00994d;
}
.clear{
    background-color: #cc0000;
}
.clear:hover{
    background-color: #990000;
}